.animate-flicker
{
/* background: #030f96; */
background: rgb(0, 0,90);
color: #fff;
position: relative;
font-weight: bold;
font-size: 10px;
padding: 10px;
animation: animate-flicker 2s 1;
animation-iteration-count:infinite;
-moz-animation: animate-flicker 2s infinite;
-webkit-animation: animate-flicker 2s infinite;
-o-animation: animate-flicker 2s infinite;
-webkit-border-radius: 5px;


}

@keyframes animate-flicker {
0% {
opacity: 1;
}

50% {
opacity: 0;
}

100% {
opacity: 1;
}
}

@-o-keyframes animate-flicker {
0% {
opacity: 1;
}

50% {
opacity: 0;
}

100% {
opacity: 1;
}
}

@-moz-keyframes animate-flicker {
0% {
opacity: 1;
}

50% {
opacity: 0;
}

100% {
opacity: 1;
}
}

@-webkit-keyframes animate-flicker {
0% {
opacity: 1;
}

50% {
opacity: 0;
}

100% {
opacity: 1;
}
}