.container{
    background-color: aliceblue;
    padding: 16px;
    max-height: 480px;
    overflow-y: scroll;
}
.time{
    font-size: 3rem;
    font-weight: 500;

}

.greeting{
    font-size: 2 rem;
    font-weight: 400;
}